<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MY_KEY" value="Hello World"/>
	</appSettings>
	<connectionStrings>
		<add name="MY_CONNECTION" connectionString="Data Source=.; Initial Catalog=MyTestDB; Integrated Security=true"/>
	</connectionStrings>
</configuration>